<h1 id="haut"> Beg an Dorchenn </h1>

<div class="photo">
	<img src="/images/La_Torche.jpeg" alt="Coucher de soleil sur la plage" title="Coucher de soleil :)"   height="300" width="400" />
</div>


<div class="presentation">
<h2>Présentation:</h2>
<blockquote>
La pointe de la Torche (<em>Beg an Dorchenn</em>) est une presqu'île naturelle située à l'extrémité sud-est de la baie d'Audierne sur la commune de Plomeur dans le pays Bigouden. Le site est un site naturel classé depuis 1965.<p>
</blockquote>
<br />
<h2>Géographie:</h2>
<blockquote>
Du côté nord de la presqu'île s'étire la plage de Tréguennec qui se prolonge sur plusieurs kilomètres tout au long de la baie d'Audierne jusqu'à Plozevet. Du côté sud-ouest de la Torche se trouve la plage de Pors-Carn (<em>commune de Penmarc'h</em>) qui se prolonge jusqu'à Saint-Guénolé où se trouve le Musée Préhistorique Finistérien, témoin de l'existence très ancienne d'une activité humaine dans le pays.
</blockquote>
<br />
<h2>Histoire:</h2>
<blockquote>
Ancienne sépulture celte, au sommet du promontoire granitique se trouve un tumulus couronné de dolmens encore à demi-enterrés. Ces dolmens (<em>Dochen</em>) ont donné le nom à la pointe, après francisation en 'la torche'. Au cours de la seconde guerre mondiale, les Allemands construisirent sur la Torche des blockhaus dont l'un d'entre eux est aujourd'hui transformé en poste de secours après avoir été jusque dans les années 1980 un refuge de sans domiciles fixes.
<br />
==>  Connu sous son nom breton de Beg an Dorchenn qui signifie pointe de la Torche ce site mégalithique du Néolithique a fait l'objet de nombreuses fouilles archéologiques qui ont révélé un nombreux mobilier dont l'essentiel est exposé au musée préhistorique de Pors Carn. Il est attesté que ce site fut occupé dès le Mésolithique. A cette époque là le niveau de la mer était de 10 m plus bas, ce qui faisait de ce site un promontoire, point de vue de premier ordre surplombant la baie d'Audierne.
</blockquote>
<br />
<h2>Loisirs:</h2>
<blockquote>
La Torche est un lieu très visité permettant les activités de sports de glisse et de voile. Notamment le surf, le planche à voile, le kitesurf, le wave-ski, le bodyboard et le char à voile. Il s'y pratique aussi la pêche au bar et aux poissons plats (sole, turbot, etc.)
</blockquote>
<br />
<h2>Ornithologie:</h2>
<blockquote>
La pointe de la Torche abrite en été la seule colonie nicheuse de Guêpier d'Europe de Bretagne.
</blockquote>
</div>
<br />
<br />
<div class="surf">
<u>Caractéristiques du spot:</u>
<ul>	
<li> Environnement: Beach. </li>
<li> Meilleure orientation vent: Est / Sud-Est / Nord-Est. </li>
<li> Vent dominant matin: Est. </li>
<li> Vent dominant après-midi: Ouest. </li>
<li> T°c de l'eau été: environ 18°C => 21°C. </li>
<li> T°c de l'eau hiver: environ 11°C => 12°C. </li>
<li> Orientation de la houle - Type: ouest moyenne à longue. </li>
<li> Sature à partir de: 3.50m => 4.00m. </li>
<li> Bouée associée: 62163 (Bouée Channel Lightship) conditions météo sur la bouée 62163. </li>
<li> Meilleur moment de la marée: Marée montante. </li>
<li> Difficulté (0 à 10): 4. </li>
<li> Meilleure période swell: toute l'année. </li>
<li> Confort(s): parking, douches. </li>
<li> Accès au spot: Depuis Penmarc'h ou Plomeur, direction pointe de la Torche (<em>début de la plage de Tronoën</em>).</li>
</ul>

<br />

<div class="photo">
	<img src="/images/1184_gde.png" alt="Afficher de la torche: championnat de france de surf 2006." title="Championnat de France 2006"  height="300" width="230"  />
</div>



<br />
<br />
<p>Pour la première fois, la Bretagne va accueillir les Championnats de France de Surf.
C’est pour le surf breton la reconnaissance d’un travail entamé depuis plus de dix ans visant à démontrer que les terres de surf peuvent être multiples, qu’en Bretagne il existe aussi les espaces pour le développement des sports de glisse. Aujourd’hui la région compte plusieurs milliers de pratiquants, elle s’appuie sur un réseau d’écoles de surf formatrices dont la compétence est reconnue par tous.
Le mouvement sportif s’est structuré avec la création d’une filière de haut niveau et la création d’un pôle espoir en Finistère. Les Championnats de France de Surf se dérouleront donc cette année du 28 octobre au 5 novembre sur le site de La Torche, spot mythique des sports de glisse s’il en est. C’est ici que Robby Naish s’est révélé au grand public, ici qu’on eut lieu quelques unes des plus belles épreuves tous sports de glisse confondus.
La Torche, c’est aussi un environnement exceptionnel : dernière terre avant le grand large, la pointe transpire une ambiance sauvage. Les colères de l’océan y redoublent d’intensité et les vagues peuvent y prendre une dimension inhumaine.
On y a vu quelques uns des grands noms du monde de la glisse reculer devant la taille des rouleaux et la puissance dégagée par les vagues. Ce n’est peut-être pas un hasard si l’anse de Pors Carn, au sud de la pointe a écopé du surnom de « machine à laver » par sa capacité à essorer les surfeurs les plus endurcis. Autant que pour peu qu’une forte dépression génère une houle suffisante sur l’Atlantique, le spectacle risque d’être à la hauteur des enjeux sportifs : sans concession…
En organisant les Championnats de France de Surf, la ligue de Bretagne s’est lancé un triple défi : faire que la compétition permette au plus grand nombre de s’initier aux valeurs du surf, donner à comprendre le fonctionnement des épreuves, et proposer un spectacle permanent sur l’eau comme à terre.
</p>
</div>

<br />
<div id="contact">
	Me contacter <%= mail_to "yann.r.77@gmail.com", "e-mail", :encode => "javascript" %>
</div>

<div class="navigation footer">
	<a href="#haut"> Haut de page </a>
</div>