<!DOCTYPE html>
<html>
<head>
  <title>La Torche</title>
  <%= stylesheet_link_tag :all %>
</head>
<body>

<ul id="menu">
	<li><%= link_to "Accueil", root_path %></li>
</ul>
<%= yield %>

</body>
</html>
